$black: rgb(10, 10, 10);
$fifty: 50%;
$negativefifty: -50%;
$backgroundcolor: rgb(150, 146, 146);
$secondarybackgroundcolor: rgb(197, 194, 194);

.title {
    color: $black;
    font-weight: 900;
}

.centered {
    position: absolute;
    top: $fifty;
    left: $fifty;
    transform: translate($negativefifty, $negativefifty);
    text-align: center;
    background-color: $secondarybackgroundcolor;
}

section {
 background-color: $backgroundcolor;
}