$black: rgb(10, 10, 10);
$fifty: 50%;
$negativefifty: -50%;
$backgroundcolor: rgb(236, 236, 236);
$secondarybackgroundcolor: rgb(197, 194, 194);
$defaultfontsize: 25px;
$defaultfontweight: bold;

.title {
    color: $black;
    font-weight: $defaultfontweight;
    font-size: $defaultfontsize;
}

.centered {
    position: absolute;
    top: $fifty;
    left: $fifty;
    transform: translate($negativefifty, $negativefifty);
    text-align: center;
    background-color: $secondarybackgroundcolor;
}

.float {
 background-color: $backgroundcolor;
 padding-bottom: 20%;
 padding-top: 20%;
}

input {
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    padding-top: 2vh;
  }

  button {
    padding: 9px 12px;
    background-color: rgb(255, 0, 0);
    border: none;
    margin-bottom: 2vh;
    font-size: 20px;
    color: white;
    margin-left: 15vh;
    margin-top: 2vh;
  }

  label {
    font-size: $defaultfontsize;
    font-weight: $defaultfontweight;
  }
  