$black: rgb(10, 10, 10);
$fifty: 50%;
$negativefifty: -50%;
$backgroundcolor: rgb(236, 236, 236);
$defaultfontsize: 25px;
$defaultfontweight: bold;

.title {
    color: $black;
    font-weight: $defaultfontweight;
    font-size: $defaultfontsize;
}



.float {
 padding-bottom: 20%;
 padding-top: 20%;
}

input {
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    padding-top: 2vh;
    padding-right: 50%;
  }

  button {
    padding: 9px 12px;
    background-color: rgb(110, 110, 110);
    border: none;
    margin-bottom: 2vh;
    font-size: 20px;
    color: white;
    margin-left: 15vh;
    margin-top: 2vh;
  }

  label {
    font-size: $defaultfontsize;
    font-weight: $defaultfontweight;    
  }
  input, label {
    display: block;
  }
  
  
  .type {
    width: 500px;
    background-color: $backgroundcolor;
    border-radius: 4px;
    padding: 5px 10px 10px 10px;
    font-size: large;
  }